@model proyecto8.Models.producto

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de producto</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Producto:@* @Html.DisplayNameFor(model => model.producto1)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_producto }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
